### Strings

In [1]:
first_name = "Cookie"
last_name = "Monster"

In [2]:
print(first_name + last_name)

CookieMonster

In [3]:
first_name[-1]

'e'

In [4]:
# title() method returns a string with the first character in upper case for every word in the string

message = "  learn to code in python "
print(message.title())
print(message)

  Learn To Code In Python
  learn to code in python

In [5]:
# upper() method returns a string in all upper cases

message = "  learn to code in python "
msg = message.upper()
print(msg)
print(message)

  LEARN TO CODE IN PYTHON
  learn to code in python

In [6]:
print(msg)
print(msg.lower())

  LEARN TO CODE IN PYTHON
  learn to code in python

In [7]:
# strip() method returns a string after removing all leading and following blanks in the string

message = "  learn to code in python "
print(message.strip())
print(message)

learn to code in python
  learn to code in python

In [8]:
# lstrip() method returns a string after removing all leading blanks in the string

message = "  learn to code in python "
print(message.lstrip())
print(message)

learn to code in python
  learn to code in python

In [9]:
# rstrip() method returns a string after removing all following blanks in the string

message = "  learn to code in python        "
print(message.rstrip())
print(message)

  learn to code in python
  learn to code in python

In [10]:
# replace() method returns a string with old substring replaced with new substring

message = "  learn to code in python        "
print(message.replace(' ', '*'))
print(message)

**learn*to*code*in*python********
  learn to code in python

In [11]:
# capitalize() method returns a string with the first character in upper case

message = "learn to code"
print(message)
print(message.capitalize())

learn to code
Learn to code

In [12]:
# what is happening?

message = " learn to code"
print(message)
print(message.capitalize())

 learn to code
 learn to code

In [13]:
"python".capitalize()

'Python'

In [14]:
# center() method returns a centered string


message = "yeah"
print(message)
print(message.center(20))

yeah
        yeah

In [15]:
# count() method returns the occurences of the substring in the given string

message = "  learn to code in python "
print(">>>"+message+"<<<")
message.count("to")

>>>  learn to code in python <<<

1

In [16]:
message.count(" ")

7

In [17]:
message.count("Code")

0

In [31]:
message = "I love     Python!"
print(message)
print(message[5])

I love     Python!
e

In [32]:
message[-5]

't'

In [33]:
message[2]

'l'

In [34]:
# len() function returns the number of items in an object
len(message)

18

In [35]:
len("")

0

In [36]:
len("99.99")

5

In [37]:
len("\'")

1

In [41]:
len("1235")

4

### Exercise 1
Write a program to right-justify text where the maximum number of characters per line is 50.

In [43]:
line1 = "   beautiful is better than ugly.   "

In [44]:
# fix any errors

MAXCHAR = 50

# write code to remove leading and following blanks



no_char = len(line)            # returns a number of charcters in line 

# find the number of blanks to fill the line
no_blank = no_char - MAXCHAR



# fill the leading blanks
result = "--" * no_blanks 

# concatenate the text to leading blanks



# print out
print("1234567890"*5)
print(result)

NameError: name 'line' is not defined

In [45]:
MAXCHAR = 50
line = line1.strip()
no_char = len(line)            # returns a number of charcters in line 
no_blanks = MAXCHAR - no_char

result = " " * no_blanks
result += line

print("1234567890"*5)
print(result)

12345678901234567890123456789012345678901234567890
                    beautiful is better than ugly.

### Formatted String
    {}  : a place holder
    ,   : shows commas in thousands place
    .2f : shows 2 digits after the decimal point
    .2% : shows 2 digits after the decimal point in percentage (%)

In [46]:
message = "I love {name}"
print(message.format(name = "Python"))
print(message)

I love Python
I love {name}

In [47]:
print("I love {0}".format("Python"))
print("I love {}".format("Python"))

I love Python
I love Python

In [48]:
print("I love {} and {}".format("to eat", "drink"))

I love to eat and drink

In [49]:
print("I love {one} and {two}".format(two="drink", one="to eat"))

I love to eat and drink

In [50]:
msg = "My name is {fname}.".format(fname="Elmo")
print(msg)

My name is Elmo.

In [51]:
msg = "Your name is {fname} and you are {age}.".format(fname="Big Bird", age=5)
print(msg)

Your name is Big Bird and you are 5.

In [52]:
msg = "Your name is {0} and you are {1}.".format("Count Von Count", 999)
print(msg)

Your name is Count Von Count and you are 999.

In [53]:
msg = "Your name is {} and you are {}.".format("Cookie Monster", 9)
print(msg)

Your name is Cookie Monster and you are 9.

In [54]:
# :f for fixed point number, default with 6 decimals

price = 9.99
msg = "The price is ${:f}"
print(msg.format(price))

The price is $9.990000

In [55]:
# :.2f for fixed point number, use a period followed by a number to specify the number of decimals

msg = "The price is ${:.2f}"
print(msg.format(price))

The price is $9.99

In [56]:
# :.2f for fixed point number, use a period followed by a number to specify the number of decimals

msg = "The price is ${:.1f}"
print(msg.format(price))

The price is $10.0

In [57]:
# :, to display comma as a thousand separator

msg = "Total price is ${:,}"
print(msg.format(price*10000))

Total price is $99,900.0

In [58]:
msg = "Total price is ${:,.2f}"
print(msg.format(price*10000))

Total price is $99,900.00

In [59]:
msg = "Current interest rate is {:%}"
print(msg.format(0.0516))

Current interest rate is 5.160000%

In [60]:
msg = "Current interest rate is {:.2%}"
print(msg.format(0.0516))

Current interest rate is 5.16%

In [61]:
msg = "Current interest rate is {:.1%}"
print(msg.format(0.0516))

Current interest rate is 5.2%

### Formatted String

In [62]:
print("The main character is {first_name} {last_name}.")

The main character is {first_name} {last_name}.

In [63]:
print(f"The main character is {first_name} {last_name}.")

The main character is Cookie Monster.

In [64]:
amount = 1234567.89123
print(f"Amount is ${amount:,.3f}")

Amount is $1,234,567.891

In [65]:
print(f"Amount is {amount:,.3%}")

Amount is 123,456,789.123%

In [66]:
amount

1234567.89123

In [67]:
unit_price = 99.99
qty = 53
print(f"Subtotal: ${unit_price * qty}")

Subtotal: $5299.469999999999

In [68]:
print(f"Subtotal: ${unit_price * qty :,}")  # commas in thousands place

Subtotal: $5,299.469999999999

In [69]:
print(f"Subtotal: ${unit_price * qty :.2f}") #2 digits after the decimal point

Subtotal: $5299.47

In [70]:
print(f"Subtotal: ${unit_price * qty :,.2f}") #in dollar amount format

Subtotal: $5,299.47

In [71]:
x = 123.45143
print(f"{x:.3f}")

123.451

In [72]:
rate = 0.03255    # morgage rate 3.255%
print(f"Current rate: {rate:.2%}")

Current rate: 3.26%

In [73]:
print(f"Current rate: {rate:.9%}")

Current rate: 3.255000000%

In [76]:
prompt = ">"
print("Enter a number:")
numb1 = int(input(prompt))
print("Enter next number:")
numb2 = int(input(prompt))
total = numb1 * numb2
print(f"{numb1} * {numb2} = {total}")

Enter a number:
>12
Enter next number:
>10
12 * 10 = 120

In [78]:
print(f"{numb1} + {numb2} = {numb1 + numb2}")
print(f"{numb1} - {numb2} = {numb1 - numb2}")
print(f"{numb1} * {numb2} = {numb1 * numb2}")
print(f"{numb1} / {numb2} = {numb1 / numb2}")

12 + 10 = 22
12 - 10 = 2
12 * 10 = 120
12 / 10 = 1.2

### Exercise 2
Write a program to find out user's annual salary. Then compute user's monthly salary and bi-weekly salary.
Display your results in nice formatted output.

#### Identify IPO

input:

process in pseudocode:



output:

#### Convert your pseudocode in to Python code

In [ ]:
salary = int(input("Enter your salary: "))

monthly = salary / 12
biweekly = salary / 26

print(f"Your monthly salary is ${monthly:,.2f}")
print(f"Your biweekly salary is ${biweekly:,.2f}")

### Scientific Number Notation

In [ ]:
no1 = 58
print(f"{no1:e}")

In [ ]:
print(f"{no1:.1e}")
print(f"{no1:.2e}")

In [ ]:
no2 = 0.000123
10
print(f"{no2:.1e}")
print(f"{no2:.3e}")

In [ ]:
no3 = 1.23456789e3
print(f"{no3}")
print(f"{no3:,}")
print(f"{no3:,.2f}")

In [ ]:
no3 = 1.23456e-3
print(f"{no3}")
print(f"{no3:,}")
print(f"{no3:,.3f}")
print(f"{no3:,.2f}")

In [ ]:
no3 = 9e-3
print(f"{no3}")

### Exercise 3

In [ ]:
# 1. Write 620000 in a scientific number notation
# 6.2e+5
noc = 620000
print(f"{620000:e}")

In [ ]:
# 2. write 0.0091 in a scientific number notation
# 9.1e-3

print(f"{0.0091:e}")

### Exercise 4

#### 1. Convert 217 to a binary number using FLOOR-DIVISION and MOD arithmetic operations

In [90]:
# 2 to the power of 7 
print(217 // 2)
print(217 % 2)

108
1

In [95]:
# power of 6
2**6

64

In [96]:
# power of 5

2**6

64

In [97]:
# power of 4
# power of 6
2**6

64

In [98]:
# power of 3
2**6

64

In [100]:
# power of 2
2**2

4

In [101]:
# power of 1
2**1

2

In [102]:
# power of 0
2**0

1

In [81]:
# Now, assemble your answer

#### 2. Convert 0b1110 0011 to a decimal number

In [103]:
# 2 to the power of 7
power7 = 1 * (2**7)
print(power7)

128

In [104]:
# power of 6

In [105]:
# power of 5

In [106]:
# power of 4

In [107]:
# power of 3

In [108]:
# power of 2

In [109]:
# power of 1

In [110]:
# power of 0

In [111]:
# Now, assemble your answer

### Use Data Type Casting

In [112]:
numb = 0b10011011
int(numb)

155

In [113]:
int(0b10011011)

155

In [114]:
bin(155)

'0b10011011'

In [115]:
type(bin(153))

str

In [116]:
numb = 0o01234567
int(numb)

342391

In [117]:
oct(342391)

'0o1234567'

In [118]:
numb = 153
hex(153)

'0x99'

In [119]:
int("0b10011011", 2)

155

In [120]:
int("0o10011011", 8)

2101769

In [121]:
int("0o1234567", 8)

342391

In [122]:
int(0x20b)

523

In [123]:
int("1011", 2)

11

In [124]:
int("1011", 8)

521

In [125]:
int("1011", 16)

4113

In [126]:
numb = "1011"
print(f"Binary {numb} is integer {int(numb, 2)}\nOctal {numb} is integer {int(numb, 8)}\nHexa {numb} is integer {int(numb,16)}")

Binary 1011 is integer 11
Octal 1011 is integer 521
Hexa 1011 is integer 4113